<div class="jumbotron">
<h1><i class="fa fa-quora"></i> Memory App</h1>
<p>Welcome to the memory app</p>
<p>Upcoming tests</p>
<%= link_to 'Add Test',new_test_path,class:"btn btn-success btn-lg"%>
</div>
