<h1>Kingswood Queens AntiBullying App</h1>
<ul>
<li> App that allows you to report bullying by posting the issue online.</li>
<li> Brings bullying act to the notice of the school and other students</li>
<li> Also a to do list, which is a track guide by the teachers set for the students to keep track of their assignment due’s</li>
<li> Also add two more sentences about this app</li>
</ul>
